<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>新币</string>
		<key>code</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美金</string>
		<key>code</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英镑</string>
		<key>code</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欧币</string>
		<key>code</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日元</string>
		<key>code</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人民币</string>
		<key>code</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>台币</string>
		<key>code</key>
		<string>TWD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加元</string>
		<key>code</key>
		<string>CAD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>港币</string>
		<key>code</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>澳币</string>
		<key>code</key>
		<string>AUD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林吉特</string>
		<key>code</key>
		<string>MYR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泰铢</string>
		<key>code</key>
		<string>THB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比索</string>
		<key>code</key>
		<string>PHP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卢比</string>
		<key>code</key>
		<string>IDR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>越南盾</string>
		<key>code</key>
		<string>VND</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人民币</string>
		<key>code</key>
		<string>RMB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>体验金</string>
		<key>code</key>
		<string>CAT</string>
	</dict>
</array>
</plist>
