<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What is CoAssets Platform?</string>
	<string>How is CoAssets different from other real estate sites?</string>
	<string>Who may list on CoAssets?</string>
	<string>What is crowdfunding?</string>
</array>
</plist>
