<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>AllCNN</string>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string>Bulk PurchaseCNN</string>
		<key>value</key>
		<string>/BPCNN</string>
	</dict>
	<dict>
		<key>key</key>
		<string>CrowdfundingCNN</string>
		<key>value</key>
		<string>/COCNN</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Pre-SalesCNN</string>
		<key>value</key>
		<string>/PSCNN</string>
	</dict>
</array>
</plist>
