<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>ic_loadding</string>
		<key>text</key>
		<string>Ongoing ProjectsCNN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_money</string>
		<key>text</key>
		<string>Ongoing Investment AmountCNN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_homes</string>
		<key>text</key>
		<string>Funded &amp;Completed ProjectsCNN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_Check_red</string>
		<key>text</key>
		<string>Funded &amp;Completed Investment AmountCNN</string>
	</dict>
</array>
</plist>
