<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>currencyName</key>
		<string>Singapore Dollars</string>
		<key>currencySymbol</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>US Dollars</string>
		<key>currencySymbol</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>British Pounds</string>
		<key>currencySymbol</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Euros</string>
		<key>currencySymbol</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Japanese Yen</string>
		<key>currencySymbol</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Chinese Yuan</string>
		<key>currencySymbol</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Taiwan Dollar</string>
		<key>currencySymbol</key>
		<string>TWD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Canadian Dollars</string>
		<key>currencySymbol</key>
		<string>CAD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Hongkong Dollar</string>
		<key>currencySymbol</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Australia Dollar</string>
		<key>currencySymbol</key>
		<string>AUD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Malaysia Ringit</string>
		<key>currencySymbol</key>
		<string>MYR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Thai Baht</string>
		<key>currencySymbol</key>
		<string>THB</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Philippine Peso</string>
		<key>currencySymbol</key>
		<string>PHP</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Indonesia Rupiah</string>
		<key>currencySymbol</key>
		<string>IDR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>Vietnamese Dong</string>
		<key>currencySymbol</key>
		<string>VND</string>
	</dict>
</array>
</plist>
